.FooterComponent  .ant-menu-item[role="menuitem"]{
  text-align: center;
}

.FooterComponent{
 justify-content: space-around;

  /* display: grid;  */
   /* grid-template-columns: repeat(3, 1fr);    */
}
.FooterComponent::after{
 display: none;
}
.FooterComponent::before{
 display: none;
}
.FooterComponent:last-child{
 display: none;
} 

#root{
  height: 100%;
}